<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="../css/style.css">

    <title>AsteTIW - Bacheca</title>

    <div id="header">
        <div id="navbar">
            <div>Ciao <span th:text=" ${session.user.nome + ' ' + session.user.cognome}"></span></div>
            <div></div>
            <div>
                <ul class="nav-menu-right">
                    <li class="nav-element"><a th:href="@{/Logout}">Logout</a></li>
                </ul>
            </div>
        </div>
        <div id="main-header">
            <div id="site-logo">
                <center>
                    <a th:href="@{/Home}">
                        <img class="sitelogo" src="images/logo.jpg">
                    </a>
                </center>
            </div>
            <div id="searchbar">
                <form action="Search" method="GET">
                    <input class="searchbar" style="width: 80%;" type="text" name="keywordSearch">
                    <input class="searchbtn" type="submit" value="Cerca">
                </form>
            </div>
        </div>
    </div>
</head>

<body>
    <div id="page-container">

        <div id="sidebar-left">
            <a th:href="@{/NewAuction}" style="text-decoration: none;">
                <div class="big-link-btn">Vendo</div>
            </a><br>
            <a th:href="@{/GetMyAuction}" style="text-decoration: none;">
                <div class="big-link-btn">Le mie aste</div>
            </a>
        </div>
        <div id="inner-container">
            <div id="page-title">
                <h1>Aste disponibili</h1>
            </div>
            <table class="auction-list">
                <tbody>
                    <tr th:if="${#lists.isEmpty(AvaiableAuctions) and #strings.isEmpty(searchedKeyword)}">
                        <td>
                            <p>Nessuna asta consultabile</p>
                        </td>
                    </tr>
                    <tr th:if="${!#strings.isEmpty(searchedKeyword)}">
                        <td>
                            <p>Nessuna asta trovata con titolo o descizione contenente: <span th:text="${searchedKeyword}"></span></p>
                        </td>
                    </tr>
                    <tr th:each="auction : ${AvaiableAuctions}">
                        <td class="auc-list-image">
                            <!-- Image -->
                            <img class="auction-img" th:src="@{/GetImage(image=${auction.image})}">
                        </td>
                        <td>
                            <div class="auc-title"><a class="detail-link" th:href="@{/GetArticleDetails(auctionId=${auction.idAsta})}"><span th:text="${auction.name}"></span></a></div>
                            <div class="auc-owner"></div>
                            <div class="pricebox">
                                <div class="auc-price">Offerta corrente: <span th:text="${auction.prezzo_start}">0,00</span>&euro;</div>
                                <div class="auc-timer">Scadenza: <span th:text="${auction.scadenza}">1d 2h rimanenti</span></div>
                            </div>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
        <div id="sidebar-right"></div>
    </div>
</body>

</html>