<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" type = "text/css" media="all" href="../css/style.css" th:href="@{/css/style.css}">
        <link rel = "stylesheet" type = "text/css" media="all" href="../css/dettaglio.css" th:href="@{/css/dettaglio.css}">

        <title>AsteTIW - Bacheca</title>

        <div id = "header">
            <div id = "navbar">
                <div>Ciao <span th:text=" ${HelloName}"></span></div>
                <div></div>
                <div>
                    <ul class = "nav-menu-right">
                        <li class = "nav-element"><a th:href="@{/Logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div id = "main-header">
                <div id = "site-logo">
                    <center>
                    	<a th:href="@{/Home}">
                    		<img class = "sitelogo" src="images/logo.jpg">
                    	</a>
                    </center>
                </div>
                <div id = "searchbar">
                    <form action="search-item" method="GET">
                        <input class = "searchbar" style = "width: 80%;" type="text" name = "search-box">
                        <input class = "searchbtn" type="submit" value = "Cerca">
                    </form>
                </div>
            </div>
        </div>
    </head>
    <body>
        <div id = "page-container">
            
            <form action = "" method = "POST">
            	<table>
            		
            		<tr>
            			<td>Titolo</td>
            			<td>Immagine</td>
            		</tr>
            		
            		<tr>
            			<td><input type = "text" name = "title"></td>
            			<td><input type = "file" accept="image/png, image/jpeg" name = "img"></td>
            		</tr>
            		
            		<tr>
            			<td>Descrizione</td>
            		</tr>
            		
            		<tr>
            			<td><textarea type = "text-area" name = "desc"></textarea></td>
            		</tr>
            		
            	</table>
            	
            	<table>
            		<tr>
            			<td>Prezzo di partenza</td>
            			<td>Rialzo minimo</td>
            			<td>Scadenza asta</td>
            		</tr>
            		
            		<tr>
            			<td><input type = "number" name = "start"></td>
            			<td><input type = "number" name = "min"></td>
            			<td><input type = "datetime-local" name = "scad"></td>
            		</tr>
            	</table>
            	
            	<input type = "submit" value = "Crea Asta">
            </form>
            
        </div>
    </body>
</html>