<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/dettaglio.css">
    <!--<script src="scripts/loginManagement.js" defer></script>-->
    <script src="scripts/pagecontroller.js" defer></script>
    <script src="scripts/utils.js" defer></script>

    <title>AsteTIW</title>

    <div id="header">
        <div id="navbar">
            <div>Ciao <span id="id_username"></span></div>
            <div></div>
            <div>
                <ul class="nav-menu-right">
                    <li class="nav-element"><a href="Logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <div id="main-header">
            <div id="site-logo">
                <center>
                    <a href="homeJS.html">
                        <img class="sitelogo" src="images/logo.jpg">
                    </a>
                </center>
            </div>
            <div id="search-zone">
                <form action="#" id="search-form">
                    <input class="searchbar" id="searchbar" style="width: 80%;" type="text" name="keywordSearch">
                </form>
                <input class="searchbtn" id="search-btn" type="submit" value="Cerca">
            </div>
            <div id="id_alert" class="errorMessage"></div>
        </div>
    </div>
</head>

<body>
    <div id="page-container">

        <div id="sidebar-left">

            <div id="btn-vendo" class="big-link-btn">Vendo</div>
            <br>

            <div class="big-link-btn" id="my-auc-btn">Le mie aste</div>

        </div>

        <div id="inner-container">

            <div id="page-title">
                <h1>Aste aperte</h1>
            </div>

            <!-- Aste disponibili per l'acquisto -->
            <table class="auction-list" id="av-auc-list-container">



                <tbody id="av-auc-list-body">

                    <tr>
                        <td class="auc-list-image">
                            <img class="auction-img" id="auction_immagine">
                        </td>

                        <td>
                            <div class="auc-title"><a class="detail-link"><span class ="auction-name" id="auction_titolo"></span></a></div>
                            <div class="auc-owner" id="auction_proprietario"></div>
                            <div class="pricebox">
                                <div class="auc-price">Offerta corrente: <span id="auction_prezzo_start"></span>&euro;</div>
                                <div class="auc-timer">Scadenza: <span id="auction_scadenza"></span></div>
                            </div>
                        </td>
                    </tr>

                </tbody>

            </table>

            <div id="mie-aste">

                <h1>Aste aperte</h1>
                <!-- Mie aste aperte -->
                <table class="auction-list" id="my-open-auc-list-container">


                    <tbody id="my-open-auc-list-body">

                        <tr>
                            <td class="auc-list-image">
                                <img class="auction-img" id="auction_immagine">
                            </td>

                            <td>
                                <div class="auc-title"><a class="detail-link"><span class ="auction-name" id="auction_titolo"></span></a></div>
                                <div class="auc-owner" id="auction_proprietario"></div>
                                <div class="pricebox">
                                    <div class="auc-price">Offerta corrente: <span id="auction_prezzo_start"></span>&euro;</div>
                                    <div class="auc-timer">Scadenza: <span id="auction_scadenza"></span></div>
                                </div>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <h1>Aste chiuse</h1>
                <!-- Mie aste chiuse -->
                <table class="auction-list" id="my-closed-auc-list-container">


                    <tbody id="my-closed-auc-list-body">

                        <tr>
                            <td class="auc-list-image">
                                <img class="auction-img" id="auction_immagine">
                            </td>

                            <td>
                                <div class="auc-title"><a class="detail-link"><span class ="auction-name" id="auction_titolo"></span></a></div>
                                <div class="auc-owner" id="auction_proprietario"></div>
                                <div class="pricebox">
                                    <div class="auc-price">Offerta corrente: <span id="auction_prezzo_start"></span>&euro;</div>
                                    <div class="auc-timer">Scadenza: <span id="auction_scadenza"></span></div>
                                </div>
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>

            <!--Dettaglio asta-->

            <div id="dettaglio">
                <div class="dettaglio">
                    <div id="prod-img">

                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <span id="prod-name">Nome del prodotto</span>
                            <hr class="divider">
                        </div>
                        <div class="product-content">
                            <div>Venduto da: <span id="auc-own-name">Nome Cognome</span></div>
                            <div>Scadenza: <span id="auc-exp">Scadenza</span></div>
                            <div>Descrizione: <span id="auc-desc">Descrizione</span></div>
                            <table>
                                <tr>
                                    <td>Offerta corrente</td>
                                    <td><span id="auc-curr">0,00</span>&euro;</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <form id="makeoffer">
                                        <td>
                                            <input name="valore">

                                            <p>Minimo: <span id="min-offer">0,00</span>&euro;</p>

                                            <input name="asta" style="display:none;" th:value="${auctionId}">
                                            <input name="min" style="display:none;" th:value="${auction.rialzo_min}">
                                            <input name="offerente" style="display:none;" th:value="${logged_username}">
                                            <input name="corrente" style="display:none;" th:value="${auction.prezzo_start}">
                                        </td>

                                    </form>
                                    <td>
                                        <input id="offer-btn" type="submit" value="Offri">
                                    </td>
                                </tr>
                            </table>
                            <div id="owner-zone">
                                <div class="big-link-btn" th:if="${auction.auctionStatus.name() == 'SCADUTA' and auctionOwner.username == session.user.username}">
                                    <a href="#" id="close-auc-btn">
                                        Chiudi asta
                                    </a>
                                </div>
                            </div>

                            <!-- TODO: sistema anche queste cose -->
                            <table id="auc-result">
                                <!-- Se non c'è un vincitore mostra "nessuna offerta ricevuta" -->
                                <div th:if="${#lists.isEmpty(offers)}">
                                    Asta scaduta senza offerte
                                </div>
                                <div th:if="${not #lists.isEmpty(offers)}">
                                    <th>Asta vinta da:</th>
                                    <tr>
                                        <td>
                                            <span id="auc-winner-name">NomeVincitore</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Prezzo finale <span id="auc-final-price"></span> </td>
                                    </tr>
                                    <tr>
                                        <td>Indirizzo vincitore: <span id="auc-winner-address"></span></td>
                                    </tr>
                                </div>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <!--Nuova asta-->
            <div id="form-new-auc">
                <center>
                    <form id="new-auc-form" enctype="multipart/form-data">
                        <table>

                            <tr>
                                <td>Titolo</td>
                                <td>Immagine</td>
                            </tr>

                            <tr>
                                <td><input type="text" name="nomeArticolo"></td>
                                <td><input type="file" accept="image/png, image/jpeg" name="immagineArticolo"></td>
                            </tr>

                            <tr>
                                <td>Descrizione</td>
                            </tr>

                            <tr>
                                <td><textarea type="text-area" name="descrizioneArticolo"></textarea></td>
                            </tr>

                        </table>

                        <table>
                            <tr>
                                <td>Prezzo di partenza</td>
                                <td>Rialzo minimo</td>
                                <td>Scadenza asta</td>
                            </tr>

                            <tr>
                                <td><input type="number" name="prezzo_startAsta"></td>
                                <td><input type="number" name="rialzo_minAsta"></td>
                                <td><input type="datetime-local" name="scadenzaAsta"></td>
                            </tr>
                        </table>


                    </form>
                    <input id="new-auc-btn" type="submit" value="Crea Asta">
                </center>
            </div>


        </div>
        <div id="sidebar-right"></div>
    </div>
</body>

</html>