<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <link rel = "stylesheet" type = "text/css"  media="all" href="css/style.css" th:href="@{/css/style.css}">
    </head>
    <body>
        <center>
            <div>
                <h1>Ciao</h1>
                <h5>Accedi al tuo account</h5>
                <p th:text=" ${errorMsg}" class="errorMessage" ></p>
                <form id = "login" action = "Login" method = "POST">
                    <input class = "loginfield" type = "text" name = "username" placeholder="username">
                    <input class = "loginfield" type = "password" name = "password" placeholder="password">
                    <input style = "cursor:pointer" type="submit" value = "Accedi">
                </form>
                
            </div>
        </center>
    </body>
</html>