<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <display-name>TIW-2021</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://portalebelgiardino.tk:3306/astetiw?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>f746e17c26dceaf750c471788c854bc0</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>imgFolder</param-name>
    <param-value>C:\Users\mikie\Desktop\Foto per TIW\</param-value>
  </context-param>
  
  <filter>
  	<filter-name>CheckLoginFilter</filter-name>
  	<filter-class>it.polimi.tiw.filters.CheckLoginFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>ExpiredAuctionsFilter</filter-name>
  	<filter-class>it.polimi.tiw.filters.ExpiredAuctionsFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CheckLoginFilter</filter-name>
  	<url-pattern>/CreateAuction</url-pattern>
  	<url-pattern>/GetArticleDetails</url-pattern>
  	<url-pattern>/GetMyAuction</url-pattern>
  	<url-pattern>/Home</url-pattern>
  	<url-pattern>/NewAuction</url-pattern>
  	<url-pattern>/MakeOffer</url-pattern>
  	<url-pattern>/Search</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>ExpiredAuctionsFilter</filter-name>
  	<url-pattern>/Home</url-pattern>
  	<url-pattern>/GetArticleDetails</url-pattern>
  	<url-pattern>/GetMyAuction</url-pattern>
  	<url-pattern>/Login</url-pattern>
  	<url-pattern>/MakeOffer</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    
    <!-- HTML pure version -->
    <welcome-file>index.html</welcome-file>

    <!-- Javascript version -->
    <!--
    <welcome-file>indexJS.html</welcome-file> 
     -->
    
  </welcome-file-list>
  
</web-app>